.is-complete{

    text-decoration:line-through;
    background:rgba(179, 207, 179, 0.753);
    border-radius:5px;
    color:silver;
    

}
button a:hover{

    text-decoration:none;
    color:silver;

}
button:hover a{

    text-decoration:none;
    color:white;

}
*{


    transition:.5s;

}

.animated2 {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  
  .animated2.hinge {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
.animation{

    opacity:0.3;

}